{% extends 'base.html' %}
{% block body %}
<div id="content-main">
    <div class="parent">
        <div class="typewriter">
            <h1 class="display-4 text-center main-title">Video Analysis</h1>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container">
    
        <div class="row">

            <div class="col">
                <form action="/predict" id="upload-file" method="post" enctype="multipart/form-data">

                    <label for="videoUpload" class="upload-label">
                        <h3>Upload a video file here</h3>
                    </label>
                    <br>
                    <input type="file" name="file" id="videoUpload" required="True">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit" onclick="loading();">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loading-page" id ="loading">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div>
    <div class="words-wrapper">
        <div class="word w1">Spliting Audio & Video</div>
        <div class="word w2">Process Video using Computer Vision</div>
        <div class="word w3">Extracting Music & Performing Sentiment Analysis </div>
        <div class="word w4">Natural Language Processing</div>
        <div class="word w5">Gathering Results</div>
      </div>
</div>

</div>
{% endblock %}